<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/public/js/ajax.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/css/style.css">
    <div class="topnav">
            <a id="home" href="/artworks"><i class="material-icons">home</i><span class="tooltip">Home</span></a>

            {{#if isAdmin}}
              {{!-- <a id="artworkForm" href="/artworkForm"><i class="material-icons">add_box</i><span class="tooltip">Add Artwork</span></a> --}}
              <a id="orders" href="/orders"><i class="material-icons">sell</i><span class="tooltip">Orders</span></a>
              <a id="requests" href="/requests"><i class="material-icons">pending</i><span class="tooltip">Pending Commision Requests</span></a>
              <a id="commissions" href="/commissions"><i class="material-icons">description</i><span class="tooltip">Active Commissions</span></a>
              <a id="artworkForm" href="/newArtworks"><i class="material-icons">library_add</i><span class="tooltip">Add Artwork</span></a>
              
              {{#if notifications}}
                <a id="notifications" href="/notifications"><i class="material-icons">notifications_active</i><span class="tooltip">Notifications</span></a>
              {{/if}}
            {{else}}
              <a id="requestForm" href="/requests"><i class="material-icons">post_add</i><span class="tooltip">Request Commission</span></a>
              <a id="cart" href="/shoppingCart"><i class="material-icons">shopping_cart</i><span class="tooltip">Shopping Cart</span></a>
            {{/if}}

            {{#if loggedIn}}
              <a id="profile" class="active" href="/"><i class="material-icons">person</i><span class="tooltip">Profile</span></a>
            {{else}}
              <a id="login" class="active" href="/"><i class="material-icons">login</i><span class="tooltip">Login</span></a>
            {{/if}}
    </div>
</head>
<body>
  <main>
    <h1 id="pageTitle">{{title}}</h1>
    {{{body}}}
  </main>
</body>
<script>
    $(document).ready(function () {
        $('a').click(function () {

          $('a').removeClass('active');       // ADD CLASS TO ALL THE TAGS.
          $(this)
          .removeClass('in-active')
          .addClass('active');
            
        })
    });
</script>
</html>