{{#if errorExists}}
    <p id="error">{{error}}</p>
{{/if}}

<article>
    <h1 id="artName">{{name}}</h1>
    <img alt={{name}} src={{artImage}}> 
    {{#if hasVideo}}
        <iframe width="420" height="315" src={{artVideo}}></iframe>
    {{/if}}
    <dl> 
        <dt>Date Posted</dt> 
        <dd>{{postedDate}}</dd><br>
        <dt>Description</dt> 
        <dd>{{description}}</dd><br>
        <dt>Price</dt> 
        <dd>{{price}}</dd><br>

        {{!-- FORM DOES NOT WORK --}}
        <form method="POST" id="buy-form" action="/cart">
            <button type="button">Add to Shopping Cart</button><br>
        </form>

        <dt>Favorites</dt> 
        <dd>{{favorites}}</dd><br>

        {{!-- FORM DOES NOT WORK --}}
        <form method="POST" id="favorites-form" action="/artwork">
            <button type="button">Add to Favorites</button><br>
        </form>

        <dt>Rating</dt> 
        <dd>{{overallRating}}</dd><br>

        <div class="rating">
            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
        </div>

        <dt>Tags</dt>
        <dd> 
            {{#if tags}}
            <ul> 
                {{#each tags}}
                    <li>{{this}}</li>
                {{/each}}
            </ul> 
            {{else}}
                No Reviews
            {{/if}}   
        </dd> 
        <dt>Reviews</dt> 
        <dd> 
            {{#if reviews}}
            <ul> 
                {{#each reviews}}
                    <li>{{this.name}}</li> 
                    <li>{{this.rating}}</li> 
                    <li>{{this.review}}</li> 
                {{/each}}
            </ul> 
            {{else}}
                No Reviews
            {{/if}}   
        </dd> 

        {{!-- FORM DOES NOT WORK --}}
        <form method="POST" id="review-form" action="/artwork">
            <label for="review-form">
                Leave a Review:
                <textarea id="review" name="review" rows="4" cols="50"></textarea>
            </label><br>
            <button type="button">Submit Review</button>
        </form><br>

    </dl>
</article>

<footer>
    <a href="/artworks">Back to All Artworks</a>
    {{#if loggedIn}}
        <a href="/logout">Logout</a>
    {{/if}}
</footer>