{{#if errorExists}}
    <p id="error">{{error}}</p>
{{/if}}


<article>
    <p id="usernameDisplay">{{username}}</p>
    <h2>{{firstName}} {{lastName}}</h2>

    <dl> 
        <dt>Email</dt> <br>
        <dd>{{email}}</dd><br>
        <dt>Pronouns</dt> <br>
        <dd>{{pronouns}}</dd><br>
        <dt>Age</dt><br>
        <dd>{{age}}</dd><br>
        <dt>City</dt> <br>
        <dd>{{city}}</dd><br>
        <dt>State</dt> <br>
        <dd>{{state}}</dd><br>

        {{#unless isAdmin}}
            <dt>Favorites</dt> <br>
            <dd>{{favoritesCount}} Favorited</dd><br>
            <dt>Favorited Art</dt><br>
            <dd> 
                {{#if favoritedArt}}
                <ul> 
                    {{#each favoritedArt}}
                        <li>{{this.name}}</li><br>
                        <li><img alt={{this.name}} src={{this.artImage}}></li><br>
                    {{/each}}
                </ul> 
                {{else}}
                    No Favorites
                {{/if}}   
            </dd> <br>

            <dt>Orders</dt> <br>
            <dd> 
                {{#if orders}}
                <ul> 
                    {{#each orders}}
                        <li>{{this.cartId}}</li><br>
                        <li>{{this.total}}</li><br>
                        <li>{{this.address}}</li><br>
                    {{/each}}
                </ul> 
                {{else}}
                    No orders
                {{/if}}   
            </dd> <br>

            <dt>Pending Commission Requests</dt> <br>
            <dd> 
                {{#if requests}}
                <ul> 
                    {{#each requests}}
                        <li>{{this.title}}</li><br>
                    {{/each}}
                </ul> 
                {{else}}
                    No pending requests
                {{/if}}   
            </dd> <br>

            <dt>Active Commissions</dt> <br>
            <dd> 
                {{#if commissions}}
                <ul> 
                    {{#each commissions}}
                        <li>{{this.commissionID.title}}</li><br>
                        <li>{{this.price}}</li><br>
                        <li>{{this.status}}</li><br>
                    {{/each}}
                </ul> 
                {{else}}
                    No commissions
                {{/if}}   
            </dd> <br>
        {{/unless}}
    </dl>
</article>


<footer>
    <a href="/logout">Logout</a>
</footer>
