{{#if errorExists}}
    <p id="error">{{error}}</p>
{{/if}}

<article>
    <p>These are all of the pending commission requests.</p><br><br>
    {{#each requests}}
        <div class="request">
            <dl> 
                <dt>Name</dt> 
                <dd>{{this.name}}</dd><br>
                <dt>Email</dt> 
                <dd>{{this.email}}</dd><br>
                <dt>Address</dt> 
                <dd>{{this.address}}</dd><br>
                <dt>City</dt> 
                <dd>{{this.city}}</dd><br>
                <dt>State</dt> 
                <dd>{{this.state}}</dd><br>
                <dt>Zip</dt> 
                <dd>{{this.zip}}</dd><br>
                <dt>Commission Title</dt> 
                <dd>{{this.title}}</dd><br>
                <dt>Request Date</dt> 
                <dd>{{this.commisionDate}}</dd><br>
                <dt>Request Description</dt> 
                <dd>{{this.description}}</dd><br>
            </dl>

            {{!-- FORM DOES NOT WORK 
            onsubmit="onSubmit()"
            onclick="acceptFunction()"
            onclick="rejectFunction()"--}}
            <form id="request-form" name="request-form" method="POST";>
                <input type="submit" name="accept" id="accept" value="Accept" >
                <input type="submit" name="reject" id="reject" value="Reject" >
            </form> 
            <form method="POST" id="requests-form" action="/requests">
                <input type="hidden" name="RequestID" value={{this._id}}>
                <label id="price" for="price">Price</label><br>
                <input type="number" id="price" name="price"><br><br>
                <button type="submit">Accept</button><br><br><br>
            </form>
        </div>
    {{/each}}
</article>

<footer>
    <a href="/requests">Back to Top</a><br>
    <a href="/artworks">Back to All Artworks</a>
</footer>