{{#if errorExists}}
    <p id="error">{{error}}</p>
{{/if}}

 <dl>
    {{#if cartNotEmpty}}
        {{#each artworks}}
            <img alt={{this.name}} src={{this.artImage}}> 
            <dt>Name<dt>
            <dd>{{this.name}}<dd>
            <dt>Price</dt>
            <dd>{{this.price}}</dd>        
        {{/each}}
    {{else}}
        Cart Is Empty
    {{/if}}
</dl>

<p>Subtotal: {{subtotal}}<p>

<footer>
    <a href="/artworks">Back to All Artworks</a>
    <a href="/logout">Logout</a>
</footer>