{{#if errorExists}}
    <p id="error">{{error}}</p>
{{/if}}

<dl>
    {{#if cartNotEmpty}}
        {{#each artworks}}
            <img alt={{this.name}} src={{this.artImage}}> 
            <dt>Name<dt>
            <dd>{{this.name}}<dd>
            <dt>Price</dt>
            <dd>{{this.price}}</dd>        
        {{/each}}
    {{else}}
        Cart Is Empty
    {{/if}}
</dl>

<p>Subtotal: {{subtotal}}<p>

{{!-- FORM DOES NOT WORK --}}
<form method="POST" id="purchase-form" action="/cart">
    <button type="button">Purchase</button><br>
</form>

{{!-- USE AJAX TO UNHIDE THIS WHEN PURCHASED --}}
<div id="thank-you" hidden>
    <p>PAYMENT PROCESS: Please Venmo Maggie at @MaggiesArt</p>
    <p>Thank you for your purchase!</p>
</div>

<footer>
    <a href="/artworks">Back to All Artworks</a><br>
</footer>